In [1]:
import os
os.environ['ATHENA_USER'] = ''
os.environ['ATHENA_PASSWORD'] = ''

In [19]:
## Important packages

'''
!pip install pyathena==1.2.0
!pip install jupyter-athena-sql
'''

'\n!pip uninstall pyathena\n!pip install pyathena==1.2.0\n!pip install jupyter-athena-sql\n'

In [39]:
import pyathena
import pandas as pd


## Athena Connection
athena_conn = pyathena.connect(aws_access_key_id=os.environ['ATHENA_USER'], ##credentials of aws_access_key_id
                 aws_secret_access_key=os.environ['ATHENA_PASSWORD'], ##credentials of aws_secret_access_key
                 s3_staging_dir='s3://mseacapstone/query-results', ##where the athena query result saved - checked in S3 ,
                 region_name='us-east-1') ##the region you set for Athena

In [40]:
query="SELECT marketplace, COUNT(review_id) as total_reviews," \
"COUNT(DISTINCT customer_id) as customers," \
"COUNT(DISTINCT product_id) as products " \
"FROM amazon_reviews_parquet " \
"GROUP BY marketplace " \
"ORDER BY customers DESC;"

In [41]:
df = pd.read_sql(query, athena_conn)
df.head(5)

  marketplace  total_reviews  customers  products
0          US      157893444   33497620  21390118
1          UK        1707494     936722     58703
2          DE         679121     373956     47736
3          FR         254080     131386     35451
4          JP         262431     122441     38447

In [7]:
df.columns

Index(['marketplace', 'customer_id', 'review_id', 'product_id',
       'product_parent', 'product_title', 'star_rating', 'helpful_votes',
       'total_votes', 'vine', 'verified_purchase', 'review_headline',
       'review_body', 'review_date', 'year', 'product_category'],
      dtype='object')