# Amazon Reviews + Metadata 
## JSON to CSV

### Step 1: Import libraries

In [2]:
import os
os.chdir('/Users/robbyjeffries/MSEACapstone/Data')

import pandas as pd
import gzip
import json
from tqdm import tqdm
import io
import codecs
import mmap

### Step 2: Convert each review file to a csv

In [ ]:
# assign directory
directory1 = '/Users/robbyjeffries/MSEACapstone/Data/Reviews_Clean'
directory2 = '/Users/robbyjeffries/MSEACapstone/Data/CSV_cleaned'

# create a dictionary that will store keys (file name) and value (list)
d = {}

# initialize a counter
count = 1

# iterate over files in that directory
for filename in os.listdir(directory1):
    
    if filename != '.DS_Store':
        
        # create the path name for each iteration
        path = directory1 + '/' + filename

        # create a category name from the file name
        category = filename[:len(filename) - 5]
        print("\nNow processing:", category, '(', count, '/', len(os.listdir(directory1))-1, ')')

        # assign an empty list to each category
        d["{0}".format(category)] = []

        # store all category reviews in a list for each dictionary value
        with open(path) as f:    
            for line in tqdm(f.readlines(), total=sum(1 for line in open(path))):
                d["{0}".format(category)].append(json.loads(line))

        # convert each list to a pandas dataframe
        d["{0}".format(category)] = pd.json_normalize(d["{0}".format(category)])

        # create the path for the exported file
        export = directory2 + '/' + category + '.csv'

        # export each category to a csv
        d["{0}".format(category)].to_csv(export)

        count += 1

print("\nCompleted Successfully!")

### Step 3: Add a category_name column to each csv

In [ ]:
directory3 = '/Users/robbyjeffries/MSEACapstone/Data/CSV_raw'
directory4 = '/Users/robbyjeffries/MSEACapstone/Data/CSV_cleaned'

# create a dictionary that will store keys (file name) and value (list)
d2 = {}

# initialize a counter
count = 1

# iterate over files in that directory
for filename in os.listdir(directory3):
    
    if filename != '.DS_Store':
        
        # create the path name for each iteration
        path = directory3 + '/' + filename

        # create a category name from the file name
        category = filename[:len(filename) - 4]
        print("\nNow processing:", category, '(', count, '/', len(os.listdir(directory3))-1, ')')

        # assign an empty list to each category
        d2["{0}".format(category)] = []
        
        # convert each list to a pandas dataframe
        d2["{0}".format(category)] = pd.read_csv(path)
        
        print('  ', filename, 'converted to pandas df')
        print('   Adding category name and exporting to csv...')
        
        # add category name
        d2["{0}".format(category)]['categoryName'] = category
        
        # create the path for the exported file
        export = directory4 + '/' + category + '.csv'
        
        # export each category to a csv
        d2["{0}".format(category)].to_csv(export)
        
        count += 1
        
print("\nCompleted Successfully!")

### Step 4: Convert metadata to csv

In [ ]:
directory5 = '/Users/robbyjeffries/MSEACapstone/Data/Metadata_raw'
directory6 = '/Users/robbyjeffries/MSEACapstone/Data/Metadata_cleaned'


# create a dictionary that will store keys (file name) and value (list)
d3 = {}

# initialize a counter
count = 1

# iterate over files in that directory
for filename in os.listdir(directory5):
    
    if filename != '.DS_Store':
        
        # create the path name for each iteration
        path = directory5 + '/' + filename

        # create a category name from the file name
        category = filename[:len(filename) - 5]
        print("\nNow processing:", category, '(', count, '/', len(os.listdir(directory5))-1, ')')

        # assign an empty list to each category
        d3["{0}".format(category)] = []
        
        # store all category reviews in a list for each dictionary value
        with open(path) as f:    
            for line in tqdm(f.readlines(), total=sum(1 for line in open(path))):
                d3["{0}".format(category)].append(json.loads(line))

        # convert each list to a pandas dataframe
        d3["{0}".format(category)] = pd.json_normalize(d3["{0}".format(category)])

        # create the path for the exported file
        export = directory6 + '/' + category + '.csv'

        # export each category to a csv
        d3["{0}".format(category)].to_csv(export)

        count += 1

print("\nCompleted Successfully!")

### Step 5

In [3]:
data = pd.read_csv('CSV_cleaned/Grocery_and_Gourmet_Food.csv')

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (11,13,16,17,18,19,20,22,23,26,29,30,31,32,33) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'overall', 'verified', 'reviewTime',
       'reviewerID', 'asin', 'reviewerName', 'reviewText', 'summary',
       'unixReviewTime', 'vote', 'image', 'style.Scent Name:', 'style.Size:',
       'style.Flavor:', 'style.Design:', 'style.Color:', 'style.Format:',
       'style.Flavor Name:', 'style.Style Name:', 'style.Package Quantity:',
       'style.Package Type:', 'style.Style:', 'style.Number of Items:',
       'style.Item Package Quantity:', 'style.Size Name:', 'style.Unit Count:',
       'style.Item Display Weight:', 'style.Product Packaging:',
       'style.Material Type:', 'style.Material:', 'style.Edition:',
       'style.Team Name:', 'style.Display Height:', 'categoryName'],
      dtype='object')

In [5]:
data = data[['overall', 'verified', 'reviewTime', 'reviewerID', 'asin', 'reviewerName', 'reviewText', 'summary', 'vote', 'unixReviewTime', 'categoryName']]

In [6]:
data.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,vote,unixReviewTime,categoryName
0,5.0,True,"06 4, 2013",ALP49FBWT4I7V,1888861614,Lori,Very pleased with my purchase. Looks exactly l...,Love it,NaN,1370304000,Grocery_and_Gourmet_Food
1,4.0,True,"05 23, 2014",A1KPIZOCLB9FZ8,1888861614,BK Shopper,Very nicely crafted but too small. Am going to...,Nice but small,NaN,1400803200,Grocery_and_Gourmet_Food
2,4.0,True,"05 9, 2014",A2W0FA06IYAYQE,1888861614,daninethequeen,still very pretty and well made...i am super p...,"the ""s"" looks like a 5, kina",NaN,1399593600,Grocery_and_Gourmet_Food
3,5.0,True,"04 20, 2014",A2PTZTCH2QUYBC,1888861614,Tammara,"I got this for our wedding cake, and it was ev...",Would recommend this to a friend!,NaN,1397952000,Grocery_and_Gourmet_Food
4,4.0,True,"04 16, 2014",A2VNHGJ59N4Z90,1888861614,LaQuinta Alexander,It was just what I want to put at the top of m...,Topper,NaN,1397606400,Grocery_and_Gourmet_Food

In [12]:
data['year'] = data['reviewTime'].apply(lambda x: x[-4:])
data.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,vote,unixReviewTime,categoryName,year
0,5.0,True,"06 4, 2013",ALP49FBWT4I7V,1888861614,Lori,Very pleased with my purchase. Looks exactly l...,Love it,NaN,1370304000,Grocery_and_Gourmet_Food,2013
1,4.0,True,"05 23, 2014",A1KPIZOCLB9FZ8,1888861614,BK Shopper,Very nicely crafted but too small. Am going to...,Nice but small,NaN,1400803200,Grocery_and_Gourmet_Food,2014
2,4.0,True,"05 9, 2014",A2W0FA06IYAYQE,1888861614,daninethequeen,still very pretty and well made...i am super p...,"the ""s"" looks like a 5, kina",NaN,1399593600,Grocery_and_Gourmet_Food,2014
3,5.0,True,"04 20, 2014",A2PTZTCH2QUYBC,1888861614,Tammara,"I got this for our wedding cake, and it was ev...",Would recommend this to a friend!,NaN,1397952000,Grocery_and_Gourmet_Food,2014
4,4.0,True,"04 16, 2014",A2VNHGJ59N4Z90,1888861614,LaQuinta Alexander,It was just what I want to put at the top of m...,Topper,NaN,1397606400,Grocery_and_Gourmet_Food,2014

In [14]:
import re

In [35]:
# remove commas
data['reviewText'] = data['reviewText'].str.replace(',', '', regex=False)
data['summary'] = data['summary'].str.replace(',', '', regex=False)

# remove quotation marks
data['reviewText'] = data['reviewText'].str.replace('"', '', regex=False)
data['summary'] = data['summary'].str.replace('"', '', regex=False)

/var/folders/c9/z8kjq8qs15n6nq0dr7vdg5640000gn/T/ipykernel_79397/3400805170.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reviewText'] = data['reviewText'].str.replace(',', '', regex=False)
/var/folders/c9/z8kjq8qs15n6nq0dr7vdg5640000gn/T/ipykernel_79397/3400805170.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['summary'] = data['summary'].str.replace(',', '', regex=False)
/var/folders/c9/z8kjq8qs15n6nq0dr7vdg5640000gn/T/ipykernel_79397/3400805170.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reviewText'] = data['reviewText'].str.replace('"', '', regex=False)
/var/folders/c9/z8kjq8qs15n6nq0dr7vdg5640000gn/T/ipykernel_79397/3400805170.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['summary'] = data['summary'].str.replace('"', '', regex=False)

In [36]:
data.shape

(5074160, 10)

In [37]:
data.to_csv('CSV_cleaned/Grocery_and_Gourmet_Food_clean.csv')

In [38]:
data.columns

Index(['overall', 'verified', 'reviewerID', 'asin', 'reviewerName',
       'reviewText', 'summary', 'vote', 'unixReviewTime', 'categoryName'],
      dtype='object')

In [39]:
sample = data.head(1000)
sample.to_csv('CSV_cleaned/Grocery_and_Gourmet_Food_sample.csv')

In [40]:
sample.head()

,overall,verified,reviewerID,asin,reviewerName,reviewText,summary,vote,unixReviewTime,categoryName
0,5.0,True,ALP49FBWT4I7V,1888861614,Lori,Very pleased with my purchase. Looks exactly l...,Love it,NaN,1370304000,Grocery_and_Gourmet_Food
1,4.0,True,A1KPIZOCLB9FZ8,1888861614,BK Shopper,Very nicely crafted but too small. Am going to...,Nice but small,NaN,1400803200,Grocery_and_Gourmet_Food
2,4.0,True,A2W0FA06IYAYQE,1888861614,daninethequeen,still very pretty and well made...i am super p...,the s looks like a 5 kina,NaN,1399593600,Grocery_and_Gourmet_Food
3,5.0,True,A2PTZTCH2QUYBC,1888861614,Tammara,I got this for our wedding cake and it was eve...,Would recommend this to a friend!,NaN,1397952000,Grocery_and_Gourmet_Food
4,4.0,True,A2VNHGJ59N4Z90,1888861614,LaQuinta Alexander,It was just what I want to put at the top of m...,Topper,NaN,1397606400,Grocery_and_Gourmet_Food

In [ ]:
for row in sample['reviewText']:

***

# Graveyard

In [ ]:
all_reviews = []

with open('Reviews_Clean/Patio_Lawn_and_Garden.json') as f:
    for line in tqdm(f, total=sum(1 for line in open('Reviews_Clean/Patio_Lawn_and_Garden.json'))):
        all_reviews.append(json.loads(line))

In [ ]:
all_reviews_clean = pd.json_normalize(all_reviews)

#### Convert Patio, Lawn, and Garden Metadata

In [ ]:
plg_metadata = []
with open('sample4.json') as f:
    for line in f:
        plg_metadata.append(json.loads(line))

In [ ]:
json_clean = pd.json_normalize(plg_metadata)
#json_clean = json_clean[['brand','asin']]
json_clean

#### Convert Patio, Lawn, and Garden Reviews

In [ ]:
plg_review_data = []
with open('Patio_Lawn_and_Garden.json') as f:
    for line in f:
        plg_review_data.append(json.loads(line))

In [ ]:
plg_review_clean = pd.json_normalize(plg_review_data)
# review_clean

In [ ]:
f = pd.DataFrame({'num_legs': [2, 4, 8, 0], 
                  'num_wings': [2, 0, 0, 0],
                  'num_specimen_seen': [10, 2, 1, 8]},
                 index=['falcon', 'dog', 'spider', 'fish'])

f.to_csv(index=False)

# First draft of working script

In [ ]:
# assign directory
directory1 = '/Users/robbyjeffries/MSEACapstone/Data/Reviews_Clean'
directory2 = '/Users/robbyjeffries/MSEACapstone/Data/CSV'
directory3 = '/Users/robbyjeffries/MSEACapstone/Data/Metadata'

# create a dictionary that will store keys (file name) and value (list)
d = {}

# initialize a counter
count = 1

# iterate over files in that directory
for filename in os.listdir(directory1):
    
    if filename != '.DS_Store':
        
        # create the path name for each iteration
        path = directory1 + '/' + filename

        # create a category name from the file name
        category = filename[:len(filename) - 5]
        print("\nNow processing:", category, '(', count, '/', len(os.listdir(directory1))-1, ')')

        # assign an empty list to each category
        d["{0}".format(category)] = []

        # store all category reviews in a list for each dictionary value
        with open(path) as f:    
            for line in tqdm(f, total=sum(1 for line in open(path))):
                d["{0}".format(category)].append(json.loads(line))

        # convert each list to a pandas dataframe
        d["{0}".format(category)] = pd.json_normalize(d["{0}".format(category)])

        # create the path for the exported file
        export = directory2 + '/' + category + '.csv'

        # export each category to a csv
        d["{0}".format(category)].to_csv(export)

        count += 1

print("\nCompleted Successfully!")